<div class="vstack gap-3 bg-white py-2">
   <% categories.forEach((menuItem, index) => {%>
   <div class="fs-6 lh-sm"> <i class="bi bi-exclamation-lg px-4 align-middle" style="font-size: 1.3rem; color: #eb1a1a;"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, consequuntur?</div>
      <% if (categories.length != index + 1) { %>
      <hr class="my-1">
      <% } %>
   <% })%>
</div>
