<div class="vstack gap-3 bg-white py-2">
   <% for (let i = start; i < end; i++) {%>
   <div class="fs-6 lh-sm px-2"> <span class="px-3 fw-bold" style="font-size: 1rem; color: #eb1a1a;">11:37</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, consequuntur?</div>
      <% if (end != i + 1) { %>
      <hr class="my-1">
      <% } %>
   <% }%>
</div>