<div class="card border-0">
   <img src= <%= newsData.image %> alt="">
   <div class="d-flex position-absolute bottom-0 end-0 px-2 text-white">
      <p class="align-self-end me-3 h6 small"><%= newsData.time %></p>
      <a href="/news/<%= newsData.id %>" class="text-uppercase fw-bold h6 text-decoration-none text-white"><%= newsData.title %></a href="/news/">
   </div>
</div>