<div class="card">
  <div class="card-header">
    <p class="card-text small text-muted text-uppercase align-baseline">30 апреля, 2022 16:14 | <a class="text-muted" href="">общество</a></p>
  </div>
	<div class="card-body">
		<h5 class="card-title"><%= post.title %></h5>
		<p class="card-text small"><%= post.desc %></p>
	</div>
	<img src="<%= post.image %>" class="card-img-bottom" alt="..." />
</div>
