<div class="vstack gap-3 bg-white py-2 ">
   <% for (let i = 0; i < end; i++) {%>
   <div class="fs-6 lh-sm"> <i class="bi bi-arrow-right px-4" style="font-size: 1rem; color: #1a71eb;"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, consequuntur?</div>
      <% if (end != i + 1) { %>
      <hr class="my-1">
      <% } %>
   <% }%>
</div>