<footer class="p-3 bg-light text-center">
	<p class="h6" style="font-size: small">Сетевое издание СМИ «ПензаИнформ» | 2011—2022</p>
	<p style="font-size: x-small">
		Зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор). 
      <br>
      Свидетельство ЭЛ № ФС 77-77315 от 10.12.2019 года. Учредитель ООО «ПензаИнформ». Главный редактор — Языченко Т.С.
      <br>
      Телефон редакции 8 (8412) 200-170, e-mail: editor@penzainform.ru
      <br>
      Копирование и использование полных материалов запрещено, частичное цитирование возможно только при условии гиперссылки на
		сайт penzainform.ru. Гиперссылка должна размещаться непосредственно в тексте, воспроизводящем оригинальный материал penzainform.ru.
      <br>
      Для читателей старше 18 лет.
      <br>
      Редакция не несет ответственности за информацию и мнения, высказанные в комментариях и новостных материалах,
		составленных на основе сообщений читателей.
	</p>
</footer>
