<nav class="navbar navbar-light bg-light shadow-sm">
   <div class="container-fluid text-uppercase">
      <button class="btn border-0" data-bs-toggle="collapse" data-bs-target="#navbarText" >
         <span class="navbar-toggler-icon"></span>
      </button>
      <a class="" href="/">
         <img src="/img/partials/logo.png" width="200px">
      </a>
      <button class="btn">
         <i class="bi bi-search" style="font-size: 1.1rem;"></i>
      </button>
      <%- include('./nav-elements'); -%>
   </div>
 </nav>