<div class="mt-3">
	<p class="my-1 px-2 text-uppercase" style="font-size: x-small;">подписывайтесь на penzainform</p>
	<div class="d-flex justify-content-evenly text-center gx-3 py-2 bg-secondary">
		<a href="#" class="flex-fill ms-2 btn btn-light shadow-sm fw-bold border-0">Я.Новости</a>
		<a href="#" class="flex-fill ms-2 btn btn-light shadow-sm fw-bold border-0">Я.Дзен</a>
		<a href="#" class="flex-fill mx-2 btn btn-light shadow-sm fw-bold border-0">Телеграм</a>
	</div>
</div>
